.App {
  text-align: center;
  color: white;
}

.App-header { 
  max-width:100%;
  border: 1px solid #800000;
  background: #800000 ;
  opacity: 0.7;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-size: 60px;
}

.Background {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-color: rgb(26, 31, 41);
  opacity: 0.8;
  background-blend-mode: luminosity;
}

@media (max-width: 480px) {
  .Background {
    background-image: url('Iphone Photo.jpg');
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .Background {
    background-image: url('Iphone Photo.jpg');
  }
}

@media (min-width: 1025px) {
  .Background {
    background-image: url('COVID Getty.jpg');
  }
}

.Background::after{

}